.mainPanel {

  .modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;

    // width: 400,
    // bgcolor: 'background.paper',
    // border: '2px solid #000',
    // boxShadow: 24,
    // p: 4,
  }

  .outerDiv {
    position: relative;

    .landingImg {
      position: absolute;
      width: 100%;
      height: 960px;
      left: 0px;
      top: 0px;
    }

    .gradient_1 {
      position: absolute;
      width: 40%;
      height: 1128px;
      left: 0px;
      top: 791px;

      // background: linear-gradient(162.9deg, #FFE0B1 0%, #FFFFFF 82.7%, #FFFFFF 100%);
    }

    .gradient_2 {
      position: absolute;
      width: 60%;
      height: 1239px;
      // left: 557px;
      right: 0px;
      top: 680px;
    }

    .gradient_3 {
      position: absolute;
      width: 45%;
      height: 401px;
      left: 0px;
      top: 592px;
    }

    .gradient_4 {
      position: absolute;
      width: 60%;
      height: 435px;
      // left: 553px;
      right: 0px;
      top: 530px;
    }

    .gradient_5 {
      position: absolute;
      width: 100%;
      height: 718px;
      left: -1px;
      top: 1649px;
    }

    .gradient_6 {
      position: absolute;
      width: 100%;
      height: 507px;
      left: 0px;
      top: 2182px;

      z-index: -2;
    }

    .gradient_7 {
      position: absolute;
      width: 100%;
      height: 908px;
      left: 0px;
      top: 1926px;
    }

    .gradient_8 {
      position: absolute;
      width: 100%;
      height: 1185px;
      left: 0px;
      top: 2133px;
      z-index: 0;
    }

    .innerDiv {
      position: absolute;

      .topHeader {
        position: fixed;
        z-index: 3;

        height: 100px;
        width: 100%;

        background: rgba(48, 39, 27, 0.8);

        .logoWhite {
          position: absolute;
          width: 75px;
          height: 87px;
          left: 13px;
          top: 7px;
        }

        .flexDivBtn {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;

          position: absolute;
          width: fit-content;
          height: 57px;
          left: 680px;
          top: 20px;

          button {
            width: 150px;
            height: 57px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #ffffff;

            background-color: transparent;
            border: 0;
            cursor: grab;
          }
        }
      }

      .flexDivCategory {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: 1156px;
        height: 454px;
        left: 141px;
        top: 629px;

        .categoryCard {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;

          position: static;
          width: 289px;
          height: 454px;
          // left: 289px;
          top: 0px;

          background: #fffef6;
          border: 1px solid #cecece;
          box-sizing: border-box;

          .icon {
            position: static;
            width: 107px;
            height: 107px;
            left: 20px;
            top: 20px;

            /* Inside Auto Layout */

            margin: 10px 0px;
          }

          .header {
            position: static;
            width: 249px;
            height: 91px;
            left: 20px;
            top: 145px;
            
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 41px;
            
            color: #000000;
            
            
            /* Inside Auto Layout */
            
            margin: 10px 0px;
          }

          .txt {
            position: static;
            width: 249px;
            height: 135px;
            left: 20px;
            top: 254px;
            
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            
            color: #000000;

            margin: 10px 0px;
          }

          .rightArrow {
            position: static;
            width: 27px;
            height: 27px;
            left: 20px;
            top: 407px;
                        
            /* Inside Auto Layout */
            
            margin: 10px 0px;  
            cursor: grab;  
          }
        }
      }

      .enrollBtn {
        position: absolute;
        width: 275px;
        height: 87px;
        left: 583px;
        top: 1152px;

        background: #c38d3c;
        border-radius: 25px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        // line-height: 47px;
        // display: flex;
        // align-items: center;
        // text-align: center;

        color: #fffef6;
      }

      .grindSeason {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: 1113px;
        height: 419px;
        left: 164px;
        top: 1309px;

        background: #fffef6;

        .speech {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;

          position: static;
          width: 424px;
          height: 419px;
          left: 0px;
          top: 0px;

          /* Inside Auto Layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0px 5px;

          .header {
            position: static;
            width: 386px;
            height: 149px;
            left: 0px;
            top: 0px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            display: flex;
            align-items: center;

            color: #000000;
          }

          .txt {
            position: static;
            width: 386px;
            height: 270px;
            left: 0px;
            top: 149px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;

            /* Inside Auto Layout */

            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 0px 0px;
          }
        }
      }

      .loveCollegon {
        position: absolute;
        width: 1187px;
        height: 739px;
        left: 127px;
        top: 1770px;

        .header {
          position: absolute;
          width: 599px;
          height: 163px;
          left: 294px;
          top: 0px;

          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          // align-items: center;
          vertical-align: middle;
          text-align: center;

          color: #fffef6;
        }

        .feedBack1 {
          position: absolute;
          width: 321px;
          height: 537px;
          left: 30px;
          top: 177px;

          background: #fffef6;
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
          border-radius: 15px 15px 0px 0px;

          .rec1 {
            position: absolute;
            width: 321px;
            height: 280px;
            left: 0px;
            top: 0px;

            background: linear-gradient(
              232.73deg,
              #5e3f11 0%,
              #946827 56.01%,
              #9c9180 100%
            );
            border-radius: 15px 15px 0px 0px;
          }

          .rec2 {
            position: absolute;
            width: 80px;
            height: 70px;
            left: 121px;
            top: 245px;
          }

          .celina {
            position: absolute;
            width: 151px;
            height: 135px;
            left: 85px;
            top: 52px;
            border-radius: 50px;
          }

          .txt {
            position: absolute;
            width: 321px;
            height: 198px;
            left: 0px;
            top: 339px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;
          }

          .name {
            position: absolute;
            width: 205px;
            height: 78px;
            left: 58px;
            top: 167px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #ffffff;
          }
        }

        .feedBack2 {
          position: absolute;
          width: 253px;
          height: 537px;
          left: 386px;
          top: 177px;

          background: #5e3f11;
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
          border-radius: 15px 15px 0px 0px;

          .rec3 {
            position: absolute;
            width: 36px;
            height: 36px;
            left: 12px;
            top: 26px;
          }

          .benny {
            position: absolute;
            width: 88px;
            height: 96px;
            left: 4px;
            top: 411px;
            border-radius: 50px;
          }

          .txt {
            position: absolute;
            width: 229px;
            height: 271px;
            left: 12px;
            top: 112px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #ffffff;
          }

          .name {
            position: absolute;
            width: 171px;
            height: 30px;
            left: 107px;
            top: 429px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;

            color: #ffffff;
          }
        }

        .feedBack3 {
          position: absolute;
          width: 483px;
          height: 250px;
          left: 674px;
          top: 177px;

          background: #fffef6;
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
          border-radius: 15px 0px;

          .rec4 {
            position: absolute;
            width: 36px;
            height: 36px;
            left: 10px;
            top: 13px;
          }

          .karen {
            position: absolute;
            width: 80px;
            height: 92.58px;
            left: 81px;
            top: 139px;
            border-radius: 180px;
          }

          .txt {
            position: absolute;
            width: 397px;
            height: 150px;
            left: 81px;
            top: 13px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;
          }

          .name {
            position: absolute;
            width: 137px;
            height: 103px;
            left: 181px;
            top: 145px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;
          }
        }

        .feedBack4 {
          position: absolute;
          width: 483px;
          height: 250px;
          left: 674px;
          top: 464px;

          background: #fffef6;
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
          border-radius: 15px 0px;

          .rec5 {
            position: absolute;
            width: 36px;
            height: 36px;
            left: 10px;
            top: 13px;
          }

          .zoey {
            position: absolute;
            width: 90px;
            height: 90px;
            left: 81px;
            top: 140px;
            border-radius: 180px;
          }

          .txt {
            position: absolute;
            width: 397px;
            height: 150px;
            left: 81px;
            top: 13px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;
          }

          .name {
            position: absolute;
            width: 137px;
            height: 103px;
            left: 181px;
            top: 145px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;
          }
        }
      }

      .bestCourse {
        position: absolute;
        width: 1369px;
        height: 661px;
        left: 36px;
        top: 2589px;

        border: 1px solid #898989;

        .header {
          position: absolute;
          width: 599px;
          height: 105px;
          left: 65px;
          top: 0px;

          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          display: flex;
          align-items: center;

          color: #010030;
        }

        .description {
          position: absolute;
          width: 926px;
          height: 158px;
          left: 65px;
          top: 105px;

          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;

          color: #000000;
        }

        .carousel {
          position: absolute;
          width: 1348px;
          height: 354px;
          left: 10px;
          top: 275px;

          .leftBtn {
            position: absolute;
            width: 45px;
            height: 45px;
            left: 0px;
            top: 155px;
          }

          .rightBtn {
            position: absolute;
            width: 45px;
            height: 45px;
            left: 1303px;
            top: 155px;
          }

          .subContainer {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;

            position: absolute;
            width: 1238px;
            height: 354px;
            left: 55px;
            top: 0px;

            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));

            .courseCard {
              position: relative;
              width: 302px;
              height: 100%;
              left: 0px;
              top: 0px;

              background: #fffef6;

              /* Inside Auto Layout */
              margin: 0px 10px;

              .thumbnail {
                position: absolute;
                width: 100%;
                height: 170px;
                left: 0px;
                top: 0px;
              }

              .header {
                position: absolute;
                width: 100%;
                height: 82px;
                left: 0px;
                top: 172px;

                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                display: flex;
                align-items: center;


                color: #000000;
              }

              .flexReviews {
                /* Auto Layout */

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;

                position: absolute;
                width: 100%;
                height: 25px;
                left: 5px;
                top: 260px;
                
                .studentIcon {
                  position: static;
                  width: 25px;
                  height: 25px;
                  left: 0px;
                  top: 0px;
                  margin: 0px 5px;
                }

                .numStudent {
                  position: static;
                  width: 50px;
                  height: 25px;
                  left: 30px;
                  top: 0px;

                  font-family: Roboto;
                  font-style: normal;
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 14px;
                  display: flex;
                  align-items: center;

                  color: #000000;

                  margin: 0px 5px;
                }

                .heartIcon {
                  position: static;
                  width: 25px;
                  height: 25px;
                  left: 85px;
                  top: 0px;

                  margin: 0px 5px;
                }

                .numLiked {
                  position: static;
                  width: 50px;
                  height: 22px;
                  left: 115px;
                  top: 0px;

                  font-family: Roboto;
                  font-style: normal;
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 14px;
                  display: flex;
                  align-items: center;

                  color: #000000;

                  margin: 0px 5px;
                }
              }

              .divider {
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0px;
                top: 295px;

                background: #C4C4C4;
              }

              .author {
                position: absolute;
                width: 100%;
                height: 49px;
                left: 0px;
                top: 299px;

                .icon {
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  left: 5px;
                  top: 9px;

                  border-radius: 180px;
                }

                .name {
                  position: absolute;
                  width: 252px;
                  height: 39px;
                  left: 43px;
                  top: 5px;

                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 15px;
                  line-height: 18px;
                  display: flex;
                  align-items: center;

                  color: #A8A8A8;
                }
              }
            }
          }
        }
      }
    }

    .partner {
      position: absolute;
      width: 1440px;
      height: 419px;
      left: 0px;
      top: 3318px;
      background: #f3e3cd;

      .header {
        position: absolute;
        width: 340px;
        height: 133px;
        left: 101px;
        top: 0px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        display: flex;
        align-items: center;

        color: #000000;
      }

      .partnerDiv {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 0px;

        position: absolute;
        width: 1397px;
        height: 192px;
        left: 22px;
        top: 167px;

        .partnerImg {
          position: static;
          width: fit-content;
          height: fit-content;
          left: 0px;
          top: 0px;

          /* Inside Auto Layout */

          margin: 0px 10px;
        }
      }
    }

    .footer {
      position: absolute;
      width: 1441px;
      height: 450px;
      left: 0px;
      top: 3737px;
    }
  }
}
