@import "@/global";

.mainPanel {
  .modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;

    // width: 400,
    // bgcolor: 'background.paper',
    // border: '2px solid #000',
    // boxShadow: 24,
    // p: 4,
  }

  .outerDiv {
    position: relative;

    .landingImg {
      position: absolute;
      width: 1440px;
      height: 960px;
      left: 0px;
      top: 0px;
    }

    .gradient_1 {
      position: absolute;
      width: 557px;
      height: 1128px;
      left: 0px;
      top: 791px;
      // background: linear-gradient(162.9deg, #FFE0B1 0%, #FFFFFF 82.7%, #FFFFFF 100%);
    }

    .gradient_2 {
      position: absolute;
      width: 883px;
      height: 1239px;
      left: 557px;
      top: 625px;
    }

    .gradient_3 {
      position: absolute;
      width: 620px;
      height: 401px;
      left: 0px;
      top: 592px;
    }

    .gradient_4 {
      position: absolute;
      width: 887px;
      height: 435px;
      left: 553px;
      top: 530px;
    }

    .gradient_5 {
      position: absolute;
      width: 1440px;
      height: 718px;
      left: 0px;
      top: 1950px;
    }

    .gradient_6 {
      position: absolute;
      width: 1440px;
      height: 600px;
      left: 0px;
      top: 2402px;

      z-index: -2;
    }

    .gradient_7 {
      position: absolute;
      width: 1440px;
      height: 908px;
      left: 0px;
      top: 3900px;
    }

    .gradient_8 {
      position: absolute;
      width: 1440px;
      height: 1100px;
      left: 0px;
      top: 2700px;
      z-index: 0;
    }

    .innerDiv {
      position: absolute;
      background-color: #faf8f4;

      .topHeader {
        position: fixed;
        z-index: 3;

        height: 100px;
        width: 100%;

        background: rgba(48, 39, 27, 0.8);

        .logoWhite {
          position: absolute;
          width: 75px;
          height: 87px;
          left: 13px;
          top: 7px;
        }

        .flexDivBtn {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;

          position: absolute;
          width: fit-content;
          height: 57px;
          left: 680px;
          top: 20px;

          button {
            width: 150px;
            height: 57px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #ffffff;

            background-color: transparent;
            border: 0;
            cursor: grab;
          }
        }
      }


      .carouselCategory {
        position: relative;
        width: fit-content;
        height: fit-content;
        
        filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;

        margin: 500px auto 0px auto;
    
        .leftBtn {
          position: static;
          width: 50px;
          height: 280px;    
          margin-right: 10px;      
          z-index: 2;
        }
    
        .rightBtn {
          position: static;
          width: 50px;
          height: 280px;
          margin-left: 10px;          
          z-index: 2;
        }
        
        .categorySwipeWrapper {
          width: 1160px;
          display: block;
          height: fit-content;
  
          position: static;
  
          .flexDivCategory {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
    
            position: static;
            width: fit-content;
            height: fit-content;
    
            margin: 0px auto 10px auto;

            .categoryCard {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 10px;
    
              position: static;
              width: 289px;
              height: 454px;
              // left: 289px;
              top: 0px;
    
              background: #fffef6;
              border: 1px solid #cecece;
              box-sizing: border-box;
    
              .icon {
                position: static;
                width: 107px;
                height: 107px;
                left: 20px;
                top: 20px;
    
                /* Inside Auto Layout */
    
                margin: 10px 0px;
              }
    
              .header {
                position: static;
                width: 249px;
                height: 91px;
                left: 20px;
                top: 145px;
    
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 41px;
    
                color: #000000;
    
                /* Inside Auto Layout */
    
                margin: 10px 0px;
              }
    
              .txt {
                position: static;
                width: 249px;
                height: 135px;
                left: 20px;
                top: 254px;
    
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
    
                color: #000000;
    
                margin: 10px 0px;
              }
    
              .rightArrow {
                position: static;
                width: 27px;
                height: 27px;
                left: 20px;
                top: 407px;
    
                /* Inside Auto Layout */
    
                margin: 10px 0px;
                cursor: grab;
                display: none;
              }
            }
          }
        }
      }



      .enrollBtn {
        position: relative;
        width: 275px;
        height: 87px;

        margin: 0 auto;
        background: #c38d3c;
        border-radius: 25px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        // line-height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: #fffef6;
        margin-top: 50px;
      }

      .grindSeason {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        position: static;
        width: 1113px;
        height: fit-content;

        margin: 0 auto;

        background: #fffef6;

        .speech {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;

          position: static;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;

          /* Inside Auto Layout */

          .header {
            position: static;
            width: 100%;
            height: fit-content;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            display: flex;
            align-items: center;

            text-align: left;

            color: #000000;
          }

          .txt {
            position: static;
            width: 100%;
            height: fit-content;
            left: 0px;
            top: 149px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;

            text-align: left;
            /* Inside Auto Layout */

            flex: none;
          }
        }
      }

      .grindSeason_2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        position: static;
        width: 1113px;
        height: fit-content;

        margin: 20px auto 0px auto;

        background: #fffef6;

        .speech {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;

          position: static;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;

          /* Inside Auto Layout */

          .header {
            position: static;
            width: 100%;
            height: fit-content;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            text-align: right;

            color: #000000;
          }

          .txt {
            position: static;
            width: 100%;
            height: fit-content;
            left: 0px;
            top: 149px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #000000;

            text-align: right;
            /* Inside Auto Layout */

            flex: none;
          }
        }
      }

      .loveCollegon {
        position: static;
        width: fit-content;
        height: fit-content;

        margin: 0 auto;

        .header {
          position: static;
          width: 599px;
          height: 163px;
          left: 294px;
          top: 0px;

          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          // align-items: center;
          vertical-align: middle;
          text-align: center;

          // color: #fffef6;
          color: white;

          margin: 0 auto;
        }

        .flexWrapFeedback {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          padding: 0px;

          width: 1127px;
          height: fit-content;

          .feedBack1 {
            position: relative;
            width: 321px;
            height: 537px;

            background: #fffef6;
            box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
            border-radius: 15px 15px 0px 0px;

            .rec1 {
              position: absolute;
              width: 321px;
              height: 280px;
              left: 0px;
              top: 0px;

              background: linear-gradient(
                232.73deg,
                #5e3f11 0%,
                #946827 56.01%,
                #9c9180 100%
              );
              border-radius: 15px 15px 0px 0px;
            }

            .rec2 {
              position: absolute;
              width: 80px;
              height: 70px;
              left: 121px;
              top: 245px;
            }

            .celina {
              position: absolute;
              width: 151px;
              height: 135px;
              left: 85px;
              top: 52px;
              border-radius: 50px;
            }

            .txt {
              position: absolute;
              width: 321px;
              height: 198px;
              left: 0px;
              top: 339px;

              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 23px;

              color: #000000;
            }

            .name {
              position: absolute;
              width: 205px;
              height: 78px;
              left: 58px;
              top: 167px;

              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 25px;
              line-height: 29px;
              display: flex;
              align-items: center;
              text-align: center;

              color: #ffffff;
            }
          }

          .feedBack2 {
            position: relative;
            width: 253px;
            height: 537px;

            background: #5e3f11;
            box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
            border-radius: 15px 15px 0px 0px;

            .rec3 {
              position: absolute;
              width: 36px;
              height: 36px;
              left: 12px;
              top: 26px;
            }

            .benny {
              position: absolute;
              width: 88px;
              height: 96px;
              left: 4px;
              top: 411px;
              border-radius: 50px;
            }

            .txt {
              position: absolute;
              width: 229px;
              height: 271px;
              left: 12px;
              top: 112px;

              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 23px;

              color: #ffffff;
            }

            .name {
              position: absolute;
              width: 171px;
              height: 30px;
              left: 107px;
              top: 429px;

              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 22px;
              line-height: 26px;

              color: #ffffff;
            }
          }

          .flexWrapFeedback3_4 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0px;

            width: 483px;
            height: 537px;

            margin: 0px 0px;

            .feedBack3 {
              position: relative;
              width: 483px;
              height: 250px;

              background: #fffef6;
              box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
              border-radius: 15px 0px;

              .rec4 {
                position: absolute;
                width: 36px;
                height: 36px;
                left: 10px;
                top: 13px;
              }

              .karen {
                position: absolute;
                width: 80px;
                height: 92.58px;
                left: 81px;
                top: 139px;
                border-radius: 180px;
              }

              .txt {
                position: absolute;
                width: 397px;
                height: 150px;
                left: 81px;
                top: 13px;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;

                color: #000000;
              }

              .name {
                position: absolute;
                width: 137px;
                height: 103px;
                left: 181px;
                top: 145px;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;

                color: #000000;
              }
            }

            .feedBack4 {
              position: relative;
              width: 483px;
              height: 250px;

              background: #fffef6;
              box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
              border-radius: 15px 0px;
              .rec5 {
                position: absolute;
                width: 36px;
                height: 36px;
                left: 10px;
                top: 13px;
              }

              .zoey {
                position: absolute;
                width: 90px;
                height: 90px;
                left: 81px;
                top: 140px;
                border-radius: 180px;
              }

              .txt {
                position: absolute;
                width: 397px;
                height: 150px;
                left: 81px;
                top: 13px;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;

                color: #000000;
              }

              .name {
                position: absolute;
                width: 137px;
                height: 103px;
                left: 181px;
                top: 145px;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;

                color: #000000;
              }
            }
          }
        }
      }

      .bestCourse {
        position: static;
        width: fit-content;
        padding: 10px;
        height: fit-content;
        // left: 35px;
        // top: 177px;

        margin: 0 auto;
        border: 1px solid #898989;

        .header {
          position: static;
          width: 599px;
          height: 105px;

          margin-left: 20px;
          margin-bottom: 10px;

          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          display: flex;
          align-items: center;

          color: #010030;
        }

        .description {
          width: 926px;
          height: 158px;

          margin-left: 20px;
          margin-bottom: 10px;

          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;

          color: #000000;
        }

        .courseList {
          position: static;
          width: max-content;
          height: fit-content;

          margin: 0 auto 10px auto;

          filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));

          .carousel {
            @extend .carousel;
          }
        }
      }

      .wrapEndSection {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: #f3e3cd;

        .partner {
          position: static;
          width: fit-content;
          height: 420px;
          background: transparent;

          margin: 150px auto 0 auto;
          
          .header {
            position: static;
            width: 100%;
            height: 133px;
            margin-left: 0px;
            margin-bottom: 10px;
  
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            display: flex;
            align-items: center;
  
            color: #000000;
          }
  
          .partnerDiv {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            padding: 0px;
  
            position: static;
            width: fit-content;
            height: 192px;
  
            .partnerImg {
              position: static;
              width: fit-content;
              height: fit-content;
              left: 0px;
              top: 0px;
  
              /* Inside Auto Layout */
  
              margin: 0px 10px;
            }
          }
        }
  
        .footer {
          position: static;
          width: 100%;
          height: 450px;
        }
  
      }

    }
  }
}
