.mainPanel {
    position: relative;
    width: 1315px;
    height: 800px;
  
    background: #fffbf2;
  
    .curve {
      position: absolute;
      width: 728px;
      height: 800px;
      left: 0px;
      top: 0px;
  
      background: radial-gradient(
        85.64% 85.64% at 11.81% 3.12%,
        #e0a143 0%,
        #fffbf2 100%
      );
    }
  
    .happyGirl {
      position: absolute;
      width: 552.68px;
      height: 482px;
      left: 33px;
      top: 163px;
      }
  
    .welcomeDiv {
        position: relative;
        width: 588px;
        height: 621px;
        left: 656px;
        top: 123px;
              
      .header1 {
        position: absolute;
        width: 588px;
        height: 129px;
        left: 0px;
        top: 0px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: #C38D3C;
      }
      .header2 {
        position: absolute;
        width: 588px;
        height: 136px;
        left: 0px;
        top: 85px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: #8B652D;
      }

      .inputTxt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        
        position: absolute;
        width: 588px;
        height: 66px;
        left: 0px;
        top: 258px;

        margin-bottom: 10px;

        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        background-color: transparent;
      }
  
      .submit {
        position: absolute;
        width: 195px;
        height: 82px;
        left: 196px;
        top: 361px;
        
        background: #C38D3C;
        border-radius: 10px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #FFFFFF;
      }
  
    }
  }
  