.mainPanel {
  position: relative;
  width: 1315px;
  height: 800px;

  background: #fffbf2;

  .curve {
    position: absolute;
    width: 728px;
    height: 800px;
    left: 0px;
    top: 0px;

    background: radial-gradient(
      85.64% 85.64% at 11.81% 3.12%,
      #e0a143 0%,
      #fffbf2 100%
    );
  }

  .happyGirl {
    position: absolute;
    width: 552.68px;
    height: 482px;
    left: 33px;
    top: 163px;
    }

  .welcomeDiv {
    position: absolute;
    width: 450px;
    height: 555px;
    left: 791px;
    top: 123px;
    
    .header1 {
      position: absolute;
      width: 365px;
      height: 129px;
      left: 30px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      color: #c38d3c;
    }
    .header2 {
      position: absolute;
      width: 439px;
      height: 136px;
      left: 5px;
      top: 69px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;

      color: #8b652d;
    }

    .formInput {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;

      position: absolute;
      width: 450px;
      height: 140px;
      left: 0px;
      top: 214px;

      .email {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;

        position: static;
        width: 450px;
        height: 60px;
        left: 0px;
        top: 0px;

        border: 1px solid #787878;
        box-sizing: border-box;
        border-radius: 50px;

        /* Inside Auto Layout */

        margin: 20px 0px;

        .icon {
          position: static;
          width: 30px;
          height: 30px;

          /* Inside Auto Layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0px 15px;
        }

        .inputTxt {
          position: static;
          width: 320px;
          height: 50px;
          margin-left: 5px;
          margin-bottom: 10px;

          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 21px;

          color: #787878;
          background-color: transparent;
          border: none;
        }
      }
      .pass {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;

        position: static;
        width: 450px;
        height: 60px;
        left: 0px;
        top: 80px;

        border: 1px solid #787878;
        box-sizing: border-box;
        border-radius: 50px;

        display: flex;
        align-items: center;

        /* Inside Auto Layout */

        margin: 20px 0px;

        .icon {
          position: static;
          width: 30px;
          height: 30px;

          /* Inside Auto Layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0px 15px;
        }

        .inputTxt {
          position: static;
          width: 320px;
          height: 50px;
          margin-left: 5px;
          margin-bottom: 10px;

          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 21px;
          display: flex;
          align-items: flex-start;

          color: #787878;
          background-color: transparent;
          border: none;
        }
      }
    }

    .forgotpass {
      position: absolute;
      width: 439px;
      height: 65px;
      left: 5px;
      top: 410px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      color: #705732;

      cursor: grab;
    }

    .login {
      position: absolute;
      width: 195px;
      height: 82px;
      left: 0px;
      top: 493px;

      background: #C38D3C;
      border-radius: 15px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      color: #FFFFFF;
    }

    .signup {
      position: absolute;
      width: 195px;
      height: 82px;
      left: 255px;
      top: 493px;

      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 15px;
      background-color: transparent;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;  
    
      color: #C38D3C;
    }

  }
}
